body {
  background-image: url("http://www.mrksmedia.com/images/mrks_bckg.png");
}
.container {
  width: 700px;
}
a {
  color: black;
}
a:hover, a:focus {
  text-decoration:underline;
  color: red;
}
